<div class="prow">
    <div class="prow">
        <div class="prow">
            <table style="border-collapse: collapse; width: 99.9389%; height: 22.4px;" border="1">
                <tbody>
                    <tr style="height: 22.4px;">
                        <td
                            style="width: 18.5242%; background-color: #34495e; text-align: center; border: 1px solid #34495e; height: 22.4px;">
                            &nbsp;</td>
                        <td
                            style="width: 53.1265%; background-color: #34495e; text-align: center; height: 22.4px; border: 1px solid #34495e;">
                            <span style="color: #ffffff;"><strong><span
                                        style="font-family: Lato; font-size: 14pt;">REMISI&Oacute;N</span></strong></span>
                        </td>
                        <td
                            style="width: 28.3187%; background-color: #34495e; text-align: right; border: 1px solid #34495e; height: 22.4px;">
                            <span style="color: #ffffff;"><strong><span
                                        style="font-family: Lato; font-size: 14pt;"><span
                                            style="font-size: 10pt;">No.&nbsp; </span>{{numremision
                                        }}&nbsp;&nbsp;</span></strong></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="prow">&nbsp;</div>
        </div>
    </div>
    <table style="border-collapse: collapse; width: 99.9974%; height: 137.2px;" border="0">
        <tbody>
            <tr style="height: 137.2px;">
                <td style="width: 16.2185%; vertical-align: top; height: 137.2px;">
                    <table style="border-collapse: collapse; width: 100.844%; height: 118px;" border="1">
                        <tbody>
                            <tr style="height: 118px;">
                                <td
                                    style="width: 96.4442%; height: 118px; background-color: #ffffff; border: 1px solid #ffffff;">
                                    <span style="color: #ffffff;"><img
                                            src="https://apitemplateio-user.s3-ap-southeast-1.amazonaws.com/15166/22140/f4873cd2-721f-4a6d-a2e2-6b02d1af16a5.png"
                                            alt="" width="97" height="97" /></span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="width: 58.1418%; vertical-align: top; height: 137.2px;">
                    <div style="text-align: center;"><span style="font-size: 8pt;"><strong><span
                                    style="font-family: Montserrat; text-align: start;">{{emisor}}</span></strong></span>
                    </div>
                    <div class="prow" style="text-align: center;"><span
                            style="font-family: Montserrat; font-size: 8pt; text-align: start;">{{emisorRFC}}</span>
                    </div>
                    <div class="prow" style="text-align: center;"><span
                            style="font-family: Montserrat; font-size: 8pt; text-align: start;">{{emisorcalle}}</span>
                    </div>
                    <div class="prow" style="text-align: center;"><span
                            style="font-family: Montserrat; font-size: 8pt; text-align: start;">Col.
                            {{emisorcolonia}}&nbsp; cp {{emisorcp}}</span></div>
                    <div class="prow" style="text-align: center;"><span
                            style="font-family: Montserrat; font-size: 8pt; text-align: start;">{{emisorciudad}}
                            &nbsp;{{emisorestado}} &nbsp;{{emisorpais}}</span></div>
                    <div class="prow" style="text-align: center;"><span style="font-size: 8pt;"><strong><span
                                    style="font-family: Montserrat; text-align: start;">{{emisorwww}}</span></strong></span>
                    </div>
                    <div class="prow" style="text-align: center;"><span style="font-size: 8pt;"><strong><span
                                    style="font-family: Montserrat; text-align: start;">{{emisoremail}}</span></strong></span>
                    </div>
                </td>
                <td style="width: 25.7048%; vertical-align: top; height: 137.2px;">
                    <table style="border-collapse: collapse; width: 100.48%; height: 117px;" border="1">
                        <tbody>
                            <tr style="height: 18.4px;">
                                <td
                                    style="width: 49.7686%; height: 18.4px; text-align: center; background-color: #ffffff; border: 1px solid #ffffff;">
                                    <span style="font-family: Lato; font-size: 8pt;"><strong>Fecha</strong>:</span></td>
                                <td
                                    style="width: 49.7686%; height: 18.4px; background-color: #ffffff; border: 1px solid #ffffff;">
                                    <div class="prow" style="text-align: center;"><span
                                            style="font-family: Lato; font-size: 8pt;">{{fechamov}}</span></div>
                                </td>
                            </tr>
                            <tr style="height: 48.8px;">
                                <td
                                    style="width: 49.7686%; height: 48.8px; text-align: center; background-color: #ffffff; border: 1px solid #ffffff;">
                                    <div class="prow"><span style="font-family: Lato; font-size: 8pt;"><strong>Entregado
                                                por</strong>:</span></div>
                                    <div class="prow"><span
                                            style="font-family: Lato; font-size: 8pt;">{{entrega}}</span></div>
                                    <div class="prow"><span
                                            style="font-family: Lato; font-size: 8pt;">{{entrega_celular}}</span></div>
                                </td>
                                <td
                                    style="width: 49.7686%; height: 48.8px; background-color: #ffffff; border: 1px solid #ffffff;">
                                    <div class="prow">&nbsp;</div>
                                    <hr />
                                </td>
                            </tr>
                            <tr style="height: 49.8px;">
                                <td
                                    style="width: 49.7686%; height: 49.8px; text-align: center; background-color: #ffffff; border: 1px solid #ffffff;">
                                    <div class="prow"><span style="font-family: Lato; font-size: 8pt;"><strong>Recibido
                                                por</strong>:</span></div>
                                    <div class="prow" style="text-align: center;"><span
                                            style="font-family: Lato; font-size: 8pt;">{{recibe}}</span></div>
                                    <div class="prow" style="text-align: center;"><span
                                            style="font-family: Lato; font-size: 8pt;">{{recibe_celular}}</span></div>
                                </td>
                                <td
                                    style="width: 49.7686%; height: 49.8px; background-color: #ffffff; border: 1px solid #ffffff;">
                                    <div class="prow" style="text-align: center;">&nbsp;</div>
                                    <div class="prow">&nbsp;</div>
                                    <hr />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-collapse: collapse; width: 100%; height: 115.312px;">
        <tbody>
            <tr style="height: 23.3125px; background-color: #34495e; border-color: #34495e;">
                <td style="width: 50.7956%; height: 23.3125px;"><span
                        style="color: #ffffff; font-size: 12pt;"><strong><span
                                style="font-family: Lato;">&nbsp;{{lbltitcliente}}</span></strong></span></td>
                <td style="width: 49.2656%; height: 23.3125px;"><span style="color: #ffffff;"><strong><span
                                style="font-family: Lato; font-size: 14pt;">&nbsp;<span
                                    style="font-size: 12pt;">{{lbltitentregar}}</span></span></strong></span></td>
            </tr>
            <tr style="height: 18.4px;">
                <td style="width: 50.7956%; height: 18.4px; text-align: left; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp; &nbsp;{{razonsocial}}</span></td>
                <td style="width: 49.2656%; height: 18.4px; text-align: left; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp; &nbsp;{{callee}} {{dominumext2}}
                        {{dominumint2}}</span></td>
            </tr>
            <tr style="height: 18.4px;">
                <td style="width: 50.7956%; height: 18.4px; text-align: left; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp; &nbsp;{{RFC}}</span></td>
                <td style="width: 49.2656%; height: 18.4px; text-align: left; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp; &nbsp;{{coloniae}}&nbsp; CP
                        {{cpe}}</span></td>
            </tr>
            <tr style="height: 18.4px;">
                <td style="width: 50.7956%; height: 18.4px; text-align: left; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp; &nbsp;{{calle}} {{dominumext1}}
                        {{dominumint1}}</span></td>
                <td style="width: 49.2656%; height: 18.4px; text-align: left; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp; &nbsp;{{municipioe}}</span></td>
            </tr>
            <tr style="height: 18.4px;">
                <td style="width: 50.7956%; height: 18.4px; text-align: left; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp; &nbsp;{{colonia}}&nbsp; CP
                        {{cp}}</span></td>
                <td style="width: 49.2656%; height: 18.4px; text-align: left; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp; &nbsp;{{estadoe}}</span></td>
            </tr>
            <tr style="height: 18.4px;">
                <td style="width: 50.7956%; height: 18.4px; text-align: left; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp; &nbsp;{{municipio}} &nbsp;{{estado}}
                        &nbsp;{{pais}}</span></td>
                <td style="width: 49.2656%; height: 18.4px; text-align: left; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp; &nbsp;{{paise}}</span></td>
            </tr>
        </tbody>
    </table>
    <div class="prow">
        <hr />
    </div>
    <div class="prow">
        <table style="border-collapse: collapse; width: 100%; height: 10px;">
            <tbody>
                <tr style="height: 10px;">
                    <td style="width: 17.2893%; height: 10px; vertical-align: top; text-align: center;"><strong><span
                                style="font-family: Montserrat; font-size: 10pt;">{{lbltransporte}}</span></strong></td>
                    <td style="width: 33.3533%; height: 10px; text-align: left;"><span
                            style="font-family: Montserrat; font-size: 8pt;">{{transporte}}</span></td>
                    <td style="width: 24.3268%; height: 10px; vertical-align: top;">&nbsp;</td>
                    <td style="width: 24.9388%; height: 10px;">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="prow">
        <hr />
    </div>
    <table style="border-collapse: collapse; width: 99.9389%; height: 172.062px;" border="0">
        <tbody>
            <tr style="height: 28.8625px;">
                <td style="width: 12.6635%; height: 28.8625px; background-color: #34495e; text-align: left;"><span
                        style="color: #ecf0f1;"><strong><span
                                style="font-family: Lato;">&nbsp;CANT.</span></strong></span></td>
                <td style="width: 59.6946%; background-color: #34495e; height: 28.8625px; text-align: left;"><span
                        style="color: #ecf0f1;"><strong><span style="font-family: Lato;">&nbsp;
                                PRODUCTO</span></strong></span></td>
                <td style="width: 11.3113%; height: 28.8625px; background-color: #34495e; text-align: right;"><span
                        style="color: #ecf0f1;"><strong><span
                                style="font-family: Lato;">PRECIO&nbsp;</span></strong></span></td>
                <td style="width: 16.2816%; height: 28.8625px; background-color: #34495e; text-align: right;"><span
                        style="color: #ecf0f1;"><strong><span
                                style="font-family: Lato;">IMPORTE&nbsp;</span></strong></span></td>
            </tr>
            <tr class="apitemplate-is-content-hidden" style="height: 18.4px;">
                <td style="background-color: #ced4d9; height: 18.4px; width: 99.951%; text-align: center; vertical-align: middle;"
                    colspan="4">{%for item in items%}</td>
            </tr>
            <tr style="height: 18.4px;">
                <td
                    style="width: 12.6635%; background-color: #ffffff; text-align: center; vertical-align: top; height: 18.4px;">
                    <span style="font-family: Montserrat; font-size: 10pt;">{{item.cant}}</span></td>
                <td
                    style="width: 59.6946%; background-color: #ffffff; text-align: left; vertical-align: top; height: 18.4px;">
                    <strong><span style="font-family: Montserrat; font-size: 10pt;">{{item.producto}}</span></strong>
                </td>
                <td
                    style="width: 11.3113%; background-color: #ffffff; text-align: right; vertical-align: top; height: 18.4px;">
                    <span style="font-family: Montserrat; font-size: 10pt;">{{item.preciou}}</span></td>
                <td
                    style="width: 16.2816%; background-color: #ffffff; text-align: right; vertical-align: top; height: 18.4px;">
                    <span style="font-family: Montserrat; font-size: 10pt;">{{item.importe}}</span></td>
            </tr>
            <tr>
                <td style="width: 12.6635%; background-color: #ffffff; text-align: center; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp;</span></td>
                <td style="width: 59.6946%; background-color: #ffffff; text-align: left; vertical-align: top;"><span
                        style="font-size: 8pt;"><span style="font-family: Montserrat;">{{item.lblnumoc}}
                            {{item.numoc}}</span></span></td>
                <td style="width: 11.3113%; background-color: #ffffff; text-align: right; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp;</span></td>
                <td style="width: 16.2816%; background-color: #ffffff; text-align: right; vertical-align: top;"><span
                        style="font-family: Montserrat; font-size: 10pt;">&nbsp;</span></td>
            </tr>
            <tr style="height: 18.4px;">
                <td
                    style="width: 12.6635%; background-color: #ffffff; text-align: center; vertical-align: top; height: 18.4px;">
                    <span style="font-family: Montserrat; font-size: 8pt;">&nbsp;</span></td>
                <td
                    style="width: 59.6946%; background-color: #ffffff; text-align: left; vertical-align: top; height: 18.4px;">
                    <span
                        style="font-family: Montserrat; font-size: 8pt;">{{item.lbltiposcore}}<strong>{{item.tiposcore}}</strong></span>
                </td>
                <td
                    style="width: 11.3113%; background-color: #ffffff; text-align: right; vertical-align: top; height: 18.4px;">
                    <span style="font-family: Montserrat; font-size: 10pt;">&nbsp;</span></td>
                <td
                    style="width: 16.2816%; background-color: #ffffff; text-align: right; vertical-align: top; height: 18.4px;">
                    <span style="font-family: Montserrat; font-size: 10pt;">&nbsp;</span></td>
            </tr>
            <tr style="height: 43.2px;">
                <td
                    style="width: 12.6635%; background-color: #ffffff; text-align: center; vertical-align: top; height: 43.2px;">
                    <span style="font-family: Montserrat; font-size: 10pt;">&nbsp;</span></td>
                <td
                    style="width: 59.6946%; background-color: #ffffff; text-align: left; vertical-align: top; height: 43.2px;">
                    <table style="border-collapse: collapse; width: 100.195%; height: 36.8px;" border="1">
                        <tbody>
                            <tr style="height: 18.4px;">
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><strong><span
                                            style="font-family: Montserrat; font-size: 8pt;">{{item.lbls1}}</span></strong>
                                </td>
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><strong><span
                                            style="font-family: Montserrat; font-size: 8pt;">{{item.lbls2}}</span></strong>
                                </td>
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><strong><span
                                            style="font-family: Montserrat; font-size: 8pt;">{{item.lbls3}}</span></strong>
                                </td>
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><strong><span
                                            style="font-family: Montserrat; font-size: 8pt;">{{item.lbls4}}</span></strong>
                                </td>
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><strong><span
                                            style="font-family: Montserrat; font-size: 8pt;">{{item.lbls5}}</span></strong>
                                </td>
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><strong><span
                                            style="font-family: Montserrat; font-size: 8pt;">{{item.lbls6}}</span></strong>
                                </td>
                                <td style="width: 13.2055%; height: 18.4px; border: 1px solid #ffffff;"><strong><span
                                            style="font-family: Montserrat; font-size: 8pt;">{{item.lbls7}}</span></strong>
                                </td>
                            </tr>
                            <tr style="height: 18.4px;">
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><span
                                        style="font-family: Montserrat; font-size: 8pt;">{{item.s1}}</span></td>
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><span
                                        style="font-family: Montserrat; font-size: 8pt;">{{item.s2}}</span></td>
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><span
                                        style="font-family: Montserrat; font-size: 8pt;">{{item.s3}}</span></td>
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><span
                                        style="font-family: Montserrat; font-size: 8pt;">{{item.s4}}</span></td>
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><span
                                        style="font-family: Montserrat; font-size: 8pt;">{{item.s5}}</span></td>
                                <td style="width: 13.196%; height: 18.4px; border: 1px solid #ffffff;"><span
                                        style="font-family: Montserrat; font-size: 8pt;">{{item.s6}}</span></td>
                                <td style="width: 13.2055%; height: 18.4px; border: 1px solid #ffffff;"><span
                                        style="font-family: Montserrat; font-size: 8pt;">{{item.s7}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td
                    style="width: 11.3113%; background-color: #ffffff; text-align: right; vertical-align: top; height: 43.2px;">
                    <span style="font-family: Montserrat; font-size: 10pt;">&nbsp;</span></td>
                <td
                    style="width: 16.2816%; background-color: #ffffff; text-align: right; vertical-align: top; height: 43.2px;">
                    <span style="font-family: Montserrat; font-size: 10pt;">&nbsp;</span></td>
            </tr>
            <tr style="height: 26.4px;">
                <td
                    style="width: 12.6635%; background-color: #ffffff; text-align: center; vertical-align: top; height: 26.4px;">
                    <span style="font-family: Montserrat; font-size: 10pt;">&nbsp;</span></td>
                <td
                    style="width: 59.6946%; background-color: #ffffff; text-align: left; vertical-align: top; height: 26.4px;">
                    <span style="font-family: Lato; font-size: 8pt;"><span
                            style="font-family: Montserrat;">{{item.lbltratamiento}}<strong>
                                {{item.tratamiento}}</strong></span></span></td>
                <td
                    style="width: 11.3113%; background-color: #ffffff; text-align: right; vertical-align: top; height: 26.4px;">
                    <span style="font-family: Montserrat; font-size: 10pt;">&nbsp;</span></td>
                <td
                    style="width: 16.2816%; background-color: #ffffff; text-align: right; vertical-align: top; height: 26.4px;">
                    <span style="font-family: Montserrat; font-size: 10pt;">&nbsp;</span></td>
            </tr>
            <tr class="apitemplate-is-content-hidden" style="height: 18.4px;">
                <td style="background-color: #ced4d9; height: 18.4px; width: 99.951%; text-align: center; vertical-align: top;"
                    colspan="4">{%endfor%}</td>
            </tr>
        </tbody>
    </table>
    <div class="prow">
        <div class="prow">
            <div class="prow">
                <div class="prow">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="prow">
        <hr />
    </div>
    <table style="border-collapse: collapse; width: 100%; height: 10px;">
        <tbody>
            <tr style="height: 10px;">
                <td style="width: 17.9744%; text-align: left;"><strong><span style="font-family: Lato;"><span
                                style="font-family: Montserrat; font-size: 8pt;"><span
                                    style="font-family: Lato; font-size: 10pt;">Cantidad con
                                    letra</span></span></span></strong></td>
                <td style="width: 66.9025%; text-align: right; height: 10px;"><strong><span
                            style="font-family: Lato;">SUBTOTAL</span></strong></td>
                <td style="width: 15.1231%; text-align: right; height: 10px;"><span
                        style="font-family: Montserrat; font-size: 10pt;">{{subtotal}}</span></td>
            </tr>
        </tbody>
    </table>
    <div class="prow">
        <table style="border-collapse: collapse; width: 100%; height: 12px;">
            <tbody>
                <tr style="height: 12px;">
                    <td style="width: 54.3214%; text-align: left; height: 12px;"><strong><span
                                style="font-family: Lato;"><span
                                    style="font-family: Montserrat; font-size: 8pt;">{{cantletra}}</span></span></strong>
                    </td>
                    <td style="width: 30.2869%; text-align: right; height: 12px;"><strong><span
                                style="font-family: Lato;">&nbsp;{{porcentiva}} % IVA</span></strong></td>
                    <td style="width: 15.2999%; text-align: right; height: 12px;"><span
                            style="font-family: Montserrat; font-size: 10pt;">{{iva}}</span></td>
                </tr>
            </tbody>
        </table>
        <div class="prow">
            <table style="border-collapse: collapse; width: 100%; height: 20px;">
                <tbody>
                    <tr style="height: 20px;">
                        <td style="width: 84.8766%; text-align: right; height: 20px;"><strong><span
                                    style="font-family: Lato;">TOTAL</span></strong></td>
                        <td style="width: 15.1234%; text-align: right; height: 20px;"><span
                                style="font-family: Montserrat;"><strong><span
                                        style="font-size: 10pt;">{{total}}</span></strong></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="prow">&nbsp;</div>
            <div class="prow">&nbsp;</div>
        </div>
    </div>
</div>